# SVC案例：预测明天是否会下雨

In [1]:
#导包
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#导入数据
df=pd.read_csv(r"C:\Users\CDA\Desktop\第十一周机器学习\weather.csv",index_col=0)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No

In [3]:
df.shape

(142193, 22)

In [4]:
#抽取5000条样本进行后续处理
weather=df.sample(n=5000,random_state=0)

In [5]:
weather.shape

(5000, 22)

In [6]:
weather.head()   #索引被打乱，需重新定

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
86232,2012-10-09,Cairns,17.4,29.0,0.0,3.6,11.1,NNE,33.0,SE,...,19.0,63.0,61.0,1013.1,1008.9,1.0,0.0,26.1,27.8,No
57576,2011-05-24,Bendigo,6.8,14.4,0.8,0.8,NaN,S,46.0,SW,...,22.0,80.0,55.0,1010.2,1012.4,5.0,4.0,10.4,12.7,No
124071,2009-08-06,Walpole,10.1,15.4,14.6,NaN,NaN,WSW,31.0,SW,...,9.0,70.0,61.0,1014.4,1016.1,NaN,NaN,12.3,13.0,No
117955,2009-03-06,Perth,14.4,33.4,0.0,8.0,11.6,SW,41.0,ESE,...,17.0,40.0,23.0,1019.2,1016.6,1.0,0.0,23.0,32.3,No
133468,2010-07-02,AliceSprings,6.8,14.3,10.0,0.2,7.3,E,28.0,ENE,...,13.0,92.0,47.0,1027.6,1024.4,7.0,1.0,7.3,13.7,No

In [7]:
#重置索引
weather.index=range(weather.shape[0])
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,2012-10-09,Cairns,17.4,29.0,0.0,3.6,11.1,NNE,33.0,SE,...,19.0,63.0,61.0,1013.1,1008.9,1.0,0.0,26.1,27.8,No
1,2011-05-24,Bendigo,6.8,14.4,0.8,0.8,NaN,S,46.0,SW,...,22.0,80.0,55.0,1010.2,1012.4,5.0,4.0,10.4,12.7,No
2,2009-08-06,Walpole,10.1,15.4,14.6,NaN,NaN,WSW,31.0,SW,...,9.0,70.0,61.0,1014.4,1016.1,NaN,NaN,12.3,13.0,No
3,2009-03-06,Perth,14.4,33.4,0.0,8.0,11.6,SW,41.0,ESE,...,17.0,40.0,23.0,1019.2,1016.6,1.0,0.0,23.0,32.3,No
4,2010-07-02,AliceSprings,6.8,14.3,10.0,0.2,7.3,E,28.0,ENE,...,13.0,92.0,47.0,1027.6,1024.4,7.0,1.0,7.3,13.7,No

In [8]:
#查看所有的特征
weather.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainTomorrow'],
      dtype='object')

In [9]:
weather.Date.value_counts()

2009-08-23    9
2013-07-06    7
2015-08-20    7
2015-11-06    7
2009-07-02    7
2013-05-03    6
2012-06-17    6
2009-02-22    6
2014-01-04    6
2015-02-09    6
2015-10-10    6
2015-10-26    6
2016-03-09    6
2010-02-28    6
2016-08-27    6
2017-05-29    6
2010-08-29    5
2014-12-12    5
2013-09-09    5
2012-04-04    5
2011-11-29    5
2015-07-13    5
2010-04-25    5
2017-04-28    5
2016-08-09    5
2015-10-28    5
2017-06-21    5
2014-12-16    5
2010-06-27    5
2010-01-31    5
             ..
2009-02-06    1
2009-12-02    1
2014-02-26    1
2010-07-10    1
2008-12-12    1
2011-03-29    1
2011-02-10    1
2008-10-07    1
2011-11-05    1
2010-11-18    1
2008-09-01    1
2012-07-02    1
2015-12-28    1
2011-10-16    1
2015-10-29    1
2011-06-09    1
2008-11-18    1
2017-04-23    1
2009-01-04    1
2010-05-08    1
2010-04-04    1
2010-08-10    1
2016-02-15    1
2013-04-09    1
2013-07-04    1
2013-01-04    1
2012-01-08    1
2010-08-05    1
2012-10-09    1
2016-06-13    1
Name: Date, Length: 2486, dtype: int64

In [10]:
len(weather.Location.value_counts())    #共49个气象站

49

In [11]:
weather.Location.value_counts()

Newcastle           133
PerthAirport        125
Sydney              125
Darwin              124
Hobart              122
NorahHead           122
Perth               121
Brisbane            121
Adelaide            117
SalmonGums          117
Launceston          116
PearceRAAF          112
MountGinini         112
Wollongong          112
Albany              111
Cairns              109
Watsonia            108
Canberra            108
Ballarat            107
Cobar               107
Albury              107
BadgerysCreek       106
CoffsHarbour        106
Nuriootpa           106
Richmond            105
MelbourneAirport    105
NorfolkIsland       105
Moree               103
AliceSprings        102
SydneyAirport       101
Walpole             100
GoldCoast           100
Witchcliffe          98
Townsville           97
Tuggeranong          97
MountGambier         97
Bendigo              97
Sale                 95
Penrith              94
Mildura              94
Williamtown          91
Portland             89
Melbourne            86
Woomera              80
Dartmoor             78
WaggaWagga           78
Uluru                55
Katherine            51
Nhil                 48
Name: Location, dtype: int64

In [12]:
weather.Rainfall.value_counts()

0.0     3167
0.2      309
0.4      124
1.0       81
0.6       79
0.8       67
1.4       65
1.2       54
1.8       44
1.6       37
2.2       35
2.6       34
2.4       31
2.0       30
3.0       28
3.6       26
2.8       25
3.2       23
4.0       20
4.2       17
3.8       17
4.8       15
3.4       15
4.6       15
8.0       13
6.0       13
7.8       12
5.6       12
4.4       12
10.0      11
        ...
21.8       1
6.4        1
43.2       1
45.0       1
21.2       1
74.8       1
25.2       1
58.2       1
20.4       1
27.4       1
14.2       1
32.2       1
23.6       1
46.8       1
73.2       1
53.6       1
19.0       1
29.8       1
57.6       1
11.6       1
53.8       1
24.6       1
19.6       1
38.8       1
38.0       1
33.0       1
8.5        1
27.0       1
42.0       1
54.2       1
Name: Rainfall, Length: 198, dtype: int64

In [13]:
weather.Cloud9am.value_counts()     #分类型

7.0    686
1.0    538
8.0    488
0.0    307
6.0    273
2.0    239
5.0    220
3.0    209
4.0    163
Name: Cloud9am, dtype: int64

In [14]:
#查看整体信息
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
Date             5000 non-null object
Location         5000 non-null object
MinTemp          4968 non-null float64
MaxTemp          4986 non-null float64
Rainfall         4937 non-null float64
Evaporation      2813 non-null float64
Sunshine         2592 non-null float64
WindGustDir      4640 non-null object
WindGustSpeed    4642 non-null float64
WindDir9am       4650 non-null object
WindDir3pm       4854 non-null object
WindSpeed9am     4951 non-null float64
WindSpeed3pm     4896 non-null float64
Humidity9am      4947 non-null float64
Humidity3pm      4869 non-null float64
Pressure9am      4459 non-null float64
Pressure3pm      4458 non-null float64
Cloud9am         3123 non-null float64
Cloud3pm         2989 non-null float64
Temp9am          4974 non-null float64
Temp3pm          4895 non-null float64
RainTomorrow     5000 non-null object
dtypes: float64(16), object(6)
memory usage: 859.5+ KB

In [15]:
#特征矩阵和标签分开
X=weather.iloc[:,:-1]
Y=weather.iloc[:,-1]

In [16]:
X.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2012-10-09,Cairns,17.4,29.0,0.0,3.6,11.1,NNE,33.0,SE,...,11.0,19.0,63.0,61.0,1013.1,1008.9,1.0,0.0,26.1,27.8
1,2011-05-24,Bendigo,6.8,14.4,0.8,0.8,NaN,S,46.0,SW,...,17.0,22.0,80.0,55.0,1010.2,1012.4,5.0,4.0,10.4,12.7
2,2009-08-06,Walpole,10.1,15.4,14.6,NaN,NaN,WSW,31.0,SW,...,13.0,9.0,70.0,61.0,1014.4,1016.1,NaN,NaN,12.3,13.0
3,2009-03-06,Perth,14.4,33.4,0.0,8.0,11.6,SW,41.0,ESE,...,9.0,17.0,40.0,23.0,1019.2,1016.6,1.0,0.0,23.0,32.3
4,2010-07-02,AliceSprings,6.8,14.3,10.0,0.2,7.3,E,28.0,ENE,...,15.0,13.0,92.0,47.0,1027.6,1024.4,7.0,1.0,7.3,13.7

In [17]:
Y.head()

0    No
1    No
2    No
3    No
4    No
Name: RainTomorrow, dtype: object

In [18]:
np.unique(Y)    #两类标签

array(['No', 'Yes'], dtype=object)

In [19]:
#查看缺失值比例(各个特征每列的缺失值比例)
X.isnull().mean()

Date             0.0000
Location         0.0000
MinTemp          0.0064
MaxTemp          0.0028
Rainfall         0.0126
Evaporation      0.4374
Sunshine         0.4816
WindGustDir      0.0720
WindGustSpeed    0.0716
WindDir9am       0.0700
WindDir3pm       0.0292
WindSpeed9am     0.0098
WindSpeed3pm     0.0208
Humidity9am      0.0106
Humidity3pm      0.0262
Pressure9am      0.1082
Pressure3pm      0.1084
Cloud9am         0.3754
Cloud3pm         0.4022
Temp9am          0.0052
Temp3pm          0.0210
dtype: float64

In [20]:
#分训练集和测试集
from sklearn.model_selection import train_test_split

Xtrain, Xtest, Ytrain, Ytest =train_test_split(X,Y,test_size=0.3,random_state=420)

In [21]:
Xtrain.shape

(3500, 21)

In [22]:
Xtest.shape

(1500, 21)

In [23]:
Xtrain.head()    #索引打乱

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
1809,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,13.0,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2
4176,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,15.0,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6
110,2017-06-14,GoldCoast,16.3,20.6,17.8,NaN,NaN,SE,72.0,S,...,37.0,52.0,100.0,100.0,1023.3,1022.7,NaN,NaN,18.1,20.0
3582,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,11.0,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5
2162,2015-01-12,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,2.0,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2

In [24]:
#恢复索引
for i in [Xtrain, Xtest, Ytrain, Ytest]:
     i.index = range(i.shape[0])

In [25]:
Xtrain.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,13.0,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2
1,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,15.0,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6
2,2017-06-14,GoldCoast,16.3,20.6,17.8,NaN,NaN,SE,72.0,S,...,37.0,52.0,100.0,100.0,1023.3,1022.7,NaN,NaN,18.1,20.0
3,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,11.0,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5
4,2015-01-12,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,2.0,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2

In [26]:
Xtest.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2015-07-16,Launceston,-0.6,10.8,0.0,NaN,NaN,SE,20.0,E,...,2.0,7.0,94.0,54.0,NaN,NaN,NaN,NaN,1.9,10.6
1,2015-04-28,Adelaide,8.7,16.7,0.0,1.6,NaN,SE,22.0,NaN,...,0.0,9.0,68.0,46.0,1030.8,1028.4,NaN,NaN,14.1,16.0
2,2015-03-21,Portland,7.7,19.0,0.0,5.4,10.3,E,33.0,SE,...,9.0,15.0,62.0,50.0,1027.7,1026.0,8.0,1.0,13.9,18.4
3,2009-02-22,Portland,14.8,21.7,0.0,2.2,12.5,ESE,33.0,ESE,...,17.0,19.0,61.0,47.0,1018.5,1015.2,6.0,3.0,15.9,21.5
4,2017-02-20,Portland,10.8,18.2,2.0,NaN,NaN,SSW,37.0,SW,...,15.0,22.0,74.0,55.0,1015.8,1016.7,7.0,8.0,13.1,16.8

In [27]:
#查看标签是否存在样本不平衡问题
Ytrain.value_counts()

No     2710
Yes     790
Name: RainTomorrow, dtype: int64

In [28]:
Ytest.value_counts()

No     1137
Yes     363
Name: RainTomorrow, dtype: int64

In [29]:
#将标签编码
from sklearn.preprocessing import LabelEncoder      #导入编码的包（标签专用编码包）
#from sklearn.preprocessing import OrdinalEncoder   #特征专用包

In [30]:
encorder = LabelEncoder().fit(Ytrain)    #模型 中相当于是[0,1]

In [31]:
encorder.classes_

array(['No', 'Yes'], dtype=object)

In [32]:
Ytrain = pd.DataFrame(encorder.transform(Ytrain))

In [33]:
Ytest = pd.DataFrame(encorder.transform(Ytest))

In [34]:
#关于fit/transform/fit_transform
#fit完之后得到模型，如果想要把模型运用到不同的对象上，那就fit和transform分开
#如果想把fit之后的模型运用到同一个对象上，可以直接写fit_transform

In [35]:
Ytrain.head()

   0
0  0
1  0
2  1
3  0
4  0

In [36]:
Ytest.head()

   0
0  0
1  0
2  0
3  0
4  0

# 处理特征矩阵

In [37]:
#描述性统计
Xtrain.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
MinTemp,3477.0,12.340236,6.384294,-6.9,-2.024,2.1,4.3,7.700,12.1,17.0,20.9,25.824,29.1
MaxTemp,3492.0,23.232904,6.992256,-4.1,8.900,12.7,14.6,18.200,22.7,28.1,32.8,39.600,43.7
Rainfall,3460.0,2.106618,6.570495,0.0,0.000,0.0,0.0,0.000,0.0,0.8,6.0,35.400,102.0
Evaporation,1986.0,5.398489,3.837948,0.0,0.400,1.0,1.4,2.725,4.8,7.4,9.8,17.430,52.4
Sunshine,1835.0,7.723869,3.691531,0.0,0.000,0.4,2.0,5.100,8.5,10.6,12.0,13.400,14.3
WindGustSpeed,3254.0,39.878611,13.492322,9.0,15.000,20.0,24.0,31.000,39.0,46.0,57.0,81.000,115.0
WindSpeed9am,3470.0,13.924784,8.861956,0.0,0.000,0.0,4.0,7.000,13.0,19.0,26.0,39.000,52.0
WindSpeed3pm,3426.0,18.765032,8.915825,0.0,2.000,6.0,7.0,13.000,19.0,24.0,30.0,43.000,78.0
Humidity9am,3460.0,68.844509,18.918369,5.0,18.000,35.0,44.0,57.000,70.0,83.0,94.0,100.000,100.0
Humidity3pm,3405.0,51.628781,20.705426,1.0,9.000,17.0,24.0,37.000,52.0,65.0,79.6,97.960,100.0
Pressure9am,3136.0,1017.538520,7.112893,982.0,999.505,1006.1,1008.7,1012.700,1017.6,1022.3,1026.7,1033.300,1038.8
Pressure3pm,3135.0,1015.140542,7.019753,986.4,997.900,1003.9,1006.4,1010.400,1015.1,1019.9,1024.2,1030.566,1036.6
Cloud9am,2213.0,4.463624,2.860557,0.0,0.000,0.0,1.0,1.000,5.0,7.0,8.0,8.000,8.0
Cloud3pm,2118.0,4.540132,2.707265,0.0,0.000,0.0,1.0,2.000,5.0,7.0,8.0,8.000,8.0
Temp9am,3481.0,17.058115,6.410628,-4.2,2.600,7.2,9.0,12.400,16.8,21.5,25.8,31.020,34.3
Temp3pm,3426.0,21.671979,6.852293,-4.4,7.525,11.5,13.2,16.900,21.0,26.4,31.0,38.100,42.4

In [38]:
Xtest.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
MinTemp,1491.0,12.211335,6.458887,-6.3,-2.500,1.50,3.90,7.6,12.2,16.800,20.70,25.610,28.5
MaxTemp,1494.0,23.330857,7.380122,-0.6,7.686,12.60,14.40,18.0,22.7,28.775,33.50,40.500,44.4
Rainfall,1477.0,2.338456,8.114066,0.0,0.000,0.00,0.00,0.0,0.0,0.800,6.20,31.632,164.2
Evaporation,827.0,5.492745,4.007532,0.0,0.200,0.80,1.40,2.6,4.8,7.600,10.40,16.000,58.5
Sunshine,757.0,7.756803,3.815881,0.0,0.000,0.48,1.66,4.9,8.6,10.700,12.30,13.400,14.0
WindGustSpeed,1388.0,40.164986,14.144410,11.0,15.000,20.00,24.00,30.0,39.0,48.000,57.00,87.000,102.0
WindSpeed9am,1481.0,14.135719,9.018514,0.0,0.000,0.00,4.00,7.0,13.0,19.000,26.00,37.400,72.0
WindSpeed3pm,1470.0,18.759184,9.002335,0.0,2.000,6.00,8.80,13.0,19.0,24.000,30.00,44.620,65.0
Humidity9am,1487.0,67.854069,19.342026,8.0,16.860,32.30,42.60,56.0,68.0,83.000,94.00,100.000,100.0
Humidity3pm,1464.0,50.962432,21.100400,4.0,8.000,15.00,23.00,35.0,52.0,65.000,79.00,97.370,100.0
Pressure9am,1323.0,1017.612774,7.341883,984.6,999.344,1006.10,1008.82,1013.2,1017.3,1022.200,1027.50,1034.678,1039.2
Pressure3pm,1323.0,1015.180726,7.250920,986.6,997.210,1003.62,1006.30,1010.6,1015.0,1019.700,1024.88,1032.156,1036.9
Cloud9am,910.0,4.242857,2.888338,0.0,0.000,0.00,0.00,1.0,5.0,7.000,8.00,8.000,8.0
Cloud3pm,871.0,4.311137,2.790930,0.0,0.000,0.00,1.00,1.0,5.0,7.000,8.00,8.000,8.0
Temp9am,1493.0,17.139049,6.734101,-3.4,0.700,6.70,8.70,12.4,17.0,22.000,26.10,31.908,34.8
Temp3pm,1469.0,21.737849,7.202093,-2.1,6.304,11.14,13.08,16.6,21.2,26.700,31.80,38.700,43.4

In [39]:
Xtrain.mean()    #返回每一列的均值

MinTemp            12.340236
MaxTemp            23.232904
Rainfall            2.106618
Evaporation         5.398489
Sunshine            7.723869
WindGustSpeed      39.878611
WindSpeed9am       13.924784
WindSpeed3pm       18.765032
Humidity9am        68.844509
Humidity3pm        51.628781
Pressure9am      1017.538520
Pressure3pm      1015.140542
Cloud9am            4.463624
Cloud3pm            4.540132
Temp9am            17.058115
Temp3pm            21.671979
dtype: float64

In [40]:
#提取出所有的数值型特征的列名
col = Xtrain.mean().index

In [41]:
len(col)

16

In [42]:
col

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [43]:
(Xtrain.loc[:,col] - Xtrain.mean())/Xtrain.std()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,1.043148,0.939196,-0.320618,0.573617,-0.033555,-0.880398,-0.104354,0.026354,0.748241,0.307708,-0.160064,-0.233704,0.886672,-0.568889,0.973678,1.098613
1,-1.024426,-1.520669,-0.320618,-0.520718,-0.250267,-0.658049,0.121329,0.026354,NaN,-0.271851,0.205469,0.207907,0.886672,-1.307642,-1.397385,-1.469870
2,0.620235,-0.376546,2.388463,NaN,NaN,2.380716,2.603851,3.727638,1.646838,2.336161,0.810005,1.076884,NaN,NaN,0.162525,-0.244003
3,-0.899118,-1.635081,0.075090,-1.093941,-1.550541,-0.065119,-0.330038,0.138514,1.646838,1.418528,0.627238,0.934429,1.236254,0.908617,-1.397385,-1.484464
4,0.886514,1.625669,-0.320618,NaN,NaN,-0.065119,-1.345615,-0.197966,-0.256074,-0.948002,-1.523785,-1.715237,NaN,-1.307642,1.176466,1.682360
5,0.150332,-0.004706,-0.320618,NaN,NaN,-0.361584,0.347013,-1.095247,-1.366107,-0.899705,NaN,NaN,0.537090,-1.307642,-0.399043,0.106245
6,-0.507532,0.324230,-0.320618,NaN,NaN,-0.361584,-0.894248,-1.656048,1.382545,-0.513333,0.458531,-0.034266,-0.511657,-1.307642,-0.477038,0.514867
7,-0.601513,-1.878207,-0.168422,-0.885497,NaN,0.305462,0.121329,0.138514,1.435403,1.853196,-0.595893,-0.319177,1.236254,1.277994,-1.116601,-1.922273
8,1.419071,1.125116,-0.320618,1.303173,1.239629,-0.658049,-0.781406,-0.197966,-0.308933,0.307708,-1.130134,-1.145417,-0.861239,-1.307642,1.831628,1.273737
9,-0.460542,-0.219229,-0.320618,NaN,NaN,0.750159,0.685539,1.820916,-0.150357,-0.754816,1.400482,1.105375,NaN,NaN,-0.445840,-0.200222
10,-0.961772,-1.134527,-0.320618,NaN,NaN,0.601927,1.136907,1.035795,0.113936,1.225342,NaN,NaN,1.236254,1.277994,-0.867016,-1.119622
11,1.011821,1.368242,-0.107544,NaN,NaN,-0.065119,0.572697,-0.870927,1.171110,-0.030368,NaN,NaN,NaN,NaN,0.287317,1.259144
12,-0.664167,-0.805592,-0.320618,-1.093941,-0.737870,1.194857,0.121329,1.035795,-0.203216,-0.078664,0.894359,1.091129,-0.162075,0.539241,-0.492637,-0.798562
13,0.400947,0.796180,-0.320618,1.042617,1.483431,-0.065119,-0.555722,0.026354,-0.678944,-0.754816,-0.609952,-0.547105,-1.560404,-1.677018,0.490106,0.981864
14,-1.040089,-0.920004,-0.320618,NaN,NaN,-1.843909,-0.781406,-1.656048,1.541121,1.128748,1.723839,1.390285,1.236254,NaN,-1.537777,-0.871530
15,-1.807598,-1.449161,-0.290179,-1.146053,0.318602,-1.473328,-0.555722,-0.870927,0.166795,0.017929,1.780075,1.831896,-1.560404,-0.199512,-1.600173,-1.323933
16,2.108262,1.396845,-0.320618,1.407396,1.239629,-0.065119,0.572697,1.596596,-0.573226,0.066225,-0.961426,-0.960225,-0.162075,-0.938265,2.018817,1.536423
17,0.291303,1.954605,-0.320618,0.677839,0.833294,-1.325095,-0.555722,-1.095247,-1.841835,-2.010525,0.008643,-0.077003,-1.560404,-0.568889,0.802087,1.945045
18,-0.162937,0.038199,-0.137983,NaN,NaN,-0.509817,-0.781406,0.362834,1.488262,0.645783,0.205469,0.464327,NaN,NaN,0.162525,0.135432
19,-2.763068,-2.049825,-0.320618,NaN,NaN,0.601927,-1.571299,1.372276,0.906817,-0.078664,0.781887,0.507063,NaN,NaN,-2.645313,-2.082803
20,1.857647,1.168020,-0.320618,1.511618,0.941650,-0.065119,0.347013,1.035795,-0.573226,0.162818,-0.131946,-0.219458,0.886672,-0.199512,1.800430,1.084020
21,0.604572,0.009596,-0.320618,0.677839,-1.360917,1.268973,1.588274,2.493877,0.008219,0.549190,0.458531,0.820464,0.886672,0.908617,0.084529,-0.346158
22,-0.209927,-1.248939,1.049142,NaN,NaN,1.268973,1.813958,1.035795,0.748241,1.708307,-1.889319,-1.473063,NaN,NaN,-0.804619,-1.455276
23,-0.162937,-1.206035,0.029432,NaN,NaN,-0.065119,-0.104354,-1.319567,1.435403,1.418528,-0.666188,-1.202399,1.236254,1.277994,-0.820218,-1.017467
24,-0.664167,0.124008,-0.320618,1.407396,1.239629,-0.880398,0.347013,-0.646607,-1.048955,-1.141188,2.075313,1.860387,NaN,NaN,-0.336646,0.120839
25,0.510591,-0.076213,-0.320618,NaN,NaN,-0.880398,-0.330038,-0.422286,-0.573226,-0.126961,-1.031721,-0.632578,NaN,NaN,0.458907,0.033277
26,-0.319571,-1.005813,0.014212,-0.833385,-0.033555,-0.361584,0.347013,-0.646607,0.589665,-0.368444,0.627238,0.991411,-0.511657,-0.199512,-0.929412,-0.886124
27,-0.209927,0.996402,-0.320618,NaN,NaN,-1.176863,-0.781406,-0.870927,-0.784661,-1.527560,-0.075710,-0.062758,NaN,NaN,0.084529,1.040239
28,1.685349,1.010703,-0.320618,1.146840,NaN,0.231346,1.362590,1.372276,-0.256074,0.114522,-0.047593,-0.133985,-0.511657,NaN,1.706835,1.069426
29,-0.742484,-1.620779,1.962315,-1.198164,-1.144205,0.750159,0.121329,1.260115,1.488262,0.887266,-0.075710,0.236398,1.236254,0.169864,-1.459781,-1.893086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3470,-0.977436,-1.220336,-0.046666,-1.041830,-0.114822,0.231346,1.136907,1.035795,0.483947,0.114522,-2.620386,-2.171094,-1.210822,-1.307642,-1.178998,-1.250965
3471,1.137129,0.309928,-0.320618,0.938395,0.318602,1.268973,0.121329,1.260115,-0.203216,0.452597,-0.244418,-0.347668,0.537090,-0.199512,1.082871,0.325150
3472,-0.350898,-0.676878,-0.320618,NaN,NaN,-0.213352,-0.104354,1.260115,0.431088,1.225342,1.189598,0.848955,NaN,NaN,-0.305448,-0.579657
3473,-0.131610,-1.020115,0.379482,-0.781274,-0.683692,NaN,0.572697,0.026354,-0.203216,0.742376,-0.146005,0.250644,0.886672,0.539241,-0.336646,-0.886124
3474,NaN,-0.033309,NaN,NaN,NaN,-1.176863,-0.330038,-0.870927,0.642523,0.935562,NaN,NaN,NaN,NaN,0.131326,-0.112660
3475,1.090138,0.495848,1.018703,-0.781274,-1.279650,-0.732165,-0.894248,-1.656048,0.325371,1.515121,0.275764,0.093943,0.187508,0.908617,1.192065,0.368931
3476,-1.463002,-1.320447,-0.290179,NaN,NaN,-0.509817,-0.330038,0.138514,0.113936,-0.416740,0.683474,0.492818,NaN,NaN,-1.288191,-1.236371
3477,-0.664167,-1.306146,-0.320618,NaN,NaN,0.083113,-0.555722,-0.646607,0.061078,2.239568,NaN,NaN,NaN,NaN,-0.695426,-1.411495
3478,-0.178600,-1.120226,-0.320618,-0.885497,-0.873315,-0.065119,-0.104354,-0.870927,-0.097498,0.790673,-1.959614,-1.501555,-0.511657,0.908617,-0.804619,-1.236371
3479,-1.713617,-1.034416,-0.290179,-0.885497,0.156068,-0.065119,-1.571299,0.026354,NaN,NaN,2.989147,3.057010,NaN,NaN,-1.490980,-1.046654
3480,-0.288244,-0.962909,2.936366,NaN,NaN,0.601927,0.911223,0.362834,1.488262,1.804900,-1.284783,-0.775033,NaN,NaN,-0.804619,-1.207184
3481,-0.429215,0.338531,NaN,NaN,0.914561,2.010135,1.362590,0.587155,-0.573226,-0.851409,-0.216300,-0.205213,NaN,NaN,0.287317,0.514867
3482,-0.225590,-0.591069,-0.259740,-0.677052,-0.223178,-0.065119,0.572697,0.362834,-0.097498,0.017929,0.894359,0.962920,-0.162075,NaN,-0.586232,-0.579657
3483,-0.867791,-0.934306,0.044651,0.156727,0.074801,2.232484,0.911223,2.493877,1.223969,-0.754816,-1.284783,-0.447386,0.886672,0.169864,-0.851417,-0.915311
3484,-1.416012,-1.291844,0.044651,-0.781274,-0.331534,-0.509817,0.121329,-0.197966,0.113936,-0.223554,0.838123,0.863201,-1.210822,0.539241,-0.976209,-1.207184
3485,-1.854588,-1.420558,-0.320618,NaN,NaN,-0.065119,-1.345615,-0.197966,0.431088,0.066225,NaN,NaN,-1.210822,0.908617,-1.568975,-1.309340
3486,-1.791934,-1.020115,-0.290179,-1.093941,0.101890,-0.880398,-0.894248,-0.646607,1.593979,-0.175257,1.442659,1.717932,-1.560404,NaN,-2.036948,-0.871530
3487,0.745543,0.524451,-0.290179,0.052505,-0.710781,-0.065119,-1.345615,1.035795,0.959675,0.452597,-0.272536,-0.105494,1.236254,-0.568889,0.692894,0.529461
3488,-1.494329,-1.477764,-0.077105,NaN,NaN,-0.509817,0.121329,-0.870927,1.065393,1.660010,-0.455303,-0.703806,NaN,NaN,-1.553376,-1.528245
3489,1.591368,0.839085,-0.320618,1.720063,0.616582,0.601927,1.813958,1.372276,-0.414650,0.162818,0.121115,-0.005775,0.886672,0.539241,1.363655,0.938083
3490,0.635899,-0.190626,-0.320618,NaN,NaN,0.305462,0.572697,-0.197966,0.853958,1.370231,-0.328772,-0.262195,NaN,NaN,0.193723,-0.258597
3491,0.447937,1.754383,-0.320618,NaN,NaN,-0.658049,-0.781406,-0.197966,0.061078,-1.817339,-0.300654,-0.604087,NaN,NaN,0.490106,1.682360
3492,0.009361,0.696070,-0.320618,0.938395,NaN,-0.658049,0.347013,-0.870927,-1.154672,-1.527560,0.275764,0.307626,-1.210822,-1.307642,0.100128,0.719178
3493,0.620235,0.853386,-0.320618,0.260950,0.697849,-0.732165,-0.781406,-0.197966,-0.414650,0.259411,-0.160064,-0.319177,-1.210822,-1.307642,1.426051,0.865115
3494,-1.149733,0.524451,-0.320618,-0.155940,0.752027,-0.509817,-0.894248,-1.095247,-1.154672,-1.720746,0.458531,0.108189,-1.560404,-0.938265,-0.648628,0.660804
3495,-1.541319,-0.004706,-0.320618,NaN,NaN,-1.176863,-0.555722,-1.095247,-0.996096,-1.382670,0.627238,0.549800,NaN,NaN,-0.945011,0.106245
3496,0.573245,0.095405,0.531677,NaN,NaN,0.305462,0.572697,1.035795,-0.361792,0.452597,0.177351,0.521309,NaN,NaN,0.365313,0.077058
3497,0.870850,0.481547,-0.320618,NaN,NaN,-0.213352,-0.894248,1.035795,0.325371,1.032155,0.078938,0.051207,NaN,NaN,0.677295,0.412712
3498,-1.650963,-0.490958,-0.320618,NaN,NaN,-0.658049,-1.571299,-0.197966,0.325371,-1.044595,-0.300654,-0.433141,NaN,NaN,-1.007408,-0.316971
3499,0.056351,0.638863,-0.320618,NaN,NaN,0.231346,-0.104354,-0.197966,-0.467509,-1.189484,-0.497480,-0.333422,NaN,NaN,0.240520,0.719178

In [44]:
np.abs((Xtrain.loc[:,col] - Xtrain.mean())/Xtrain.std())     #求绝对值

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,1.043148,0.939196,0.320618,0.573617,0.033555,0.880398,0.104354,0.026354,0.748241,0.307708,0.160064,0.233704,0.886672,0.568889,0.973678,1.098613
1,1.024426,1.520669,0.320618,0.520718,0.250267,0.658049,0.121329,0.026354,NaN,0.271851,0.205469,0.207907,0.886672,1.307642,1.397385,1.469870
2,0.620235,0.376546,2.388463,NaN,NaN,2.380716,2.603851,3.727638,1.646838,2.336161,0.810005,1.076884,NaN,NaN,0.162525,0.244003
3,0.899118,1.635081,0.075090,1.093941,1.550541,0.065119,0.330038,0.138514,1.646838,1.418528,0.627238,0.934429,1.236254,0.908617,1.397385,1.484464
4,0.886514,1.625669,0.320618,NaN,NaN,0.065119,1.345615,0.197966,0.256074,0.948002,1.523785,1.715237,NaN,1.307642,1.176466,1.682360
5,0.150332,0.004706,0.320618,NaN,NaN,0.361584,0.347013,1.095247,1.366107,0.899705,NaN,NaN,0.537090,1.307642,0.399043,0.106245
6,0.507532,0.324230,0.320618,NaN,NaN,0.361584,0.894248,1.656048,1.382545,0.513333,0.458531,0.034266,0.511657,1.307642,0.477038,0.514867
7,0.601513,1.878207,0.168422,0.885497,NaN,0.305462,0.121329,0.138514,1.435403,1.853196,0.595893,0.319177,1.236254,1.277994,1.116601,1.922273
8,1.419071,1.125116,0.320618,1.303173,1.239629,0.658049,0.781406,0.197966,0.308933,0.307708,1.130134,1.145417,0.861239,1.307642,1.831628,1.273737
9,0.460542,0.219229,0.320618,NaN,NaN,0.750159,0.685539,1.820916,0.150357,0.754816,1.400482,1.105375,NaN,NaN,0.445840,0.200222
10,0.961772,1.134527,0.320618,NaN,NaN,0.601927,1.136907,1.035795,0.113936,1.225342,NaN,NaN,1.236254,1.277994,0.867016,1.119622
11,1.011821,1.368242,0.107544,NaN,NaN,0.065119,0.572697,0.870927,1.171110,0.030368,NaN,NaN,NaN,NaN,0.287317,1.259144
12,0.664167,0.805592,0.320618,1.093941,0.737870,1.194857,0.121329,1.035795,0.203216,0.078664,0.894359,1.091129,0.162075,0.539241,0.492637,0.798562
13,0.400947,0.796180,0.320618,1.042617,1.483431,0.065119,0.555722,0.026354,0.678944,0.754816,0.609952,0.547105,1.560404,1.677018,0.490106,0.981864
14,1.040089,0.920004,0.320618,NaN,NaN,1.843909,0.781406,1.656048,1.541121,1.128748,1.723839,1.390285,1.236254,NaN,1.537777,0.871530
15,1.807598,1.449161,0.290179,1.146053,0.318602,1.473328,0.555722,0.870927,0.166795,0.017929,1.780075,1.831896,1.560404,0.199512,1.600173,1.323933
16,2.108262,1.396845,0.320618,1.407396,1.239629,0.065119,0.572697,1.596596,0.573226,0.066225,0.961426,0.960225,0.162075,0.938265,2.018817,1.536423
17,0.291303,1.954605,0.320618,0.677839,0.833294,1.325095,0.555722,1.095247,1.841835,2.010525,0.008643,0.077003,1.560404,0.568889,0.802087,1.945045
18,0.162937,0.038199,0.137983,NaN,NaN,0.509817,0.781406,0.362834,1.488262,0.645783,0.205469,0.464327,NaN,NaN,0.162525,0.135432
19,2.763068,2.049825,0.320618,NaN,NaN,0.601927,1.571299,1.372276,0.906817,0.078664,0.781887,0.507063,NaN,NaN,2.645313,2.082803
20,1.857647,1.168020,0.320618,1.511618,0.941650,0.065119,0.347013,1.035795,0.573226,0.162818,0.131946,0.219458,0.886672,0.199512,1.800430,1.084020
21,0.604572,0.009596,0.320618,0.677839,1.360917,1.268973,1.588274,2.493877,0.008219,0.549190,0.458531,0.820464,0.886672,0.908617,0.084529,0.346158
22,0.209927,1.248939,1.049142,NaN,NaN,1.268973,1.813958,1.035795,0.748241,1.708307,1.889319,1.473063,NaN,NaN,0.804619,1.455276
23,0.162937,1.206035,0.029432,NaN,NaN,0.065119,0.104354,1.319567,1.435403,1.418528,0.666188,1.202399,1.236254,1.277994,0.820218,1.017467
24,0.664167,0.124008,0.320618,1.407396,1.239629,0.880398,0.347013,0.646607,1.048955,1.141188,2.075313,1.860387,NaN,NaN,0.336646,0.120839
25,0.510591,0.076213,0.320618,NaN,NaN,0.880398,0.330038,0.422286,0.573226,0.126961,1.031721,0.632578,NaN,NaN,0.458907,0.033277
26,0.319571,1.005813,0.014212,0.833385,0.033555,0.361584,0.347013,0.646607,0.589665,0.368444,0.627238,0.991411,0.511657,0.199512,0.929412,0.886124
27,0.209927,0.996402,0.320618,NaN,NaN,1.176863,0.781406,0.870927,0.784661,1.527560,0.075710,0.062758,NaN,NaN,0.084529,1.040239
28,1.685349,1.010703,0.320618,1.146840,NaN,0.231346,1.362590,1.372276,0.256074,0.114522,0.047593,0.133985,0.511657,NaN,1.706835,1.069426
29,0.742484,1.620779,1.962315,1.198164,1.144205,0.750159,0.121329,1.260115,1.488262,0.887266,0.075710,0.236398,1.236254,0.169864,1.459781,1.893086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3470,0.977436,1.220336,0.046666,1.041830,0.114822,0.231346,1.136907,1.035795,0.483947,0.114522,2.620386,2.171094,1.210822,1.307642,1.178998,1.250965
3471,1.137129,0.309928,0.320618,0.938395,0.318602,1.268973,0.121329,1.260115,0.203216,0.452597,0.244418,0.347668,0.537090,0.199512,1.082871,0.325150
3472,0.350898,0.676878,0.320618,NaN,NaN,0.213352,0.104354,1.260115,0.431088,1.225342,1.189598,0.848955,NaN,NaN,0.305448,0.579657
3473,0.131610,1.020115,0.379482,0.781274,0.683692,NaN,0.572697,0.026354,0.203216,0.742376,0.146005,0.250644,0.886672,0.539241,0.336646,0.886124
3474,NaN,0.033309,NaN,NaN,NaN,1.176863,0.330038,0.870927,0.642523,0.935562,NaN,NaN,NaN,NaN,0.131326,0.112660
3475,1.090138,0.495848,1.018703,0.781274,1.279650,0.732165,0.894248,1.656048,0.325371,1.515121,0.275764,0.093943,0.187508,0.908617,1.192065,0.368931
3476,1.463002,1.320447,0.290179,NaN,NaN,0.509817,0.330038,0.138514,0.113936,0.416740,0.683474,0.492818,NaN,NaN,1.288191,1.236371
3477,0.664167,1.306146,0.320618,NaN,NaN,0.083113,0.555722,0.646607,0.061078,2.239568,NaN,NaN,NaN,NaN,0.695426,1.411495
3478,0.178600,1.120226,0.320618,0.885497,0.873315,0.065119,0.104354,0.870927,0.097498,0.790673,1.959614,1.501555,0.511657,0.908617,0.804619,1.236371
3479,1.713617,1.034416,0.290179,0.885497,0.156068,0.065119,1.571299,0.026354,NaN,NaN,2.989147,3.057010,NaN,NaN,1.490980,1.046654
3480,0.288244,0.962909,2.936366,NaN,NaN,0.601927,0.911223,0.362834,1.488262,1.804900,1.284783,0.775033,NaN,NaN,0.804619,1.207184
3481,0.429215,0.338531,NaN,NaN,0.914561,2.010135,1.362590,0.587155,0.573226,0.851409,0.216300,0.205213,NaN,NaN,0.287317,0.514867
3482,0.225590,0.591069,0.259740,0.677052,0.223178,0.065119,0.572697,0.362834,0.097498,0.017929,0.894359,0.962920,0.162075,NaN,0.586232,0.579657
3483,0.867791,0.934306,0.044651,0.156727,0.074801,2.232484,0.911223,2.493877,1.223969,0.754816,1.284783,0.447386,0.886672,0.169864,0.851417,0.915311
3484,1.416012,1.291844,0.044651,0.781274,0.331534,0.509817,0.121329,0.197966,0.113936,0.223554,0.838123,0.863201,1.210822,0.539241,0.976209,1.207184
3485,1.854588,1.420558,0.320618,NaN,NaN,0.065119,1.345615,0.197966,0.431088,0.066225,NaN,NaN,1.210822,0.908617,1.568975,1.309340
3486,1.791934,1.020115,0.290179,1.093941,0.101890,0.880398,0.894248,0.646607,1.593979,0.175257,1.442659,1.717932,1.560404,NaN,2.036948,0.871530
3487,0.745543,0.524451,0.290179,0.052505,0.710781,0.065119,1.345615,1.035795,0.959675,0.452597,0.272536,0.105494,1.236254,0.568889,0.692894,0.529461
3488,1.494329,1.477764,0.077105,NaN,NaN,0.509817,0.121329,0.870927,1.065393,1.660010,0.455303,0.703806,NaN,NaN,1.553376,1.528245
3489,1.591368,0.839085,0.320618,1.720063,0.616582,0.601927,1.813958,1.372276,0.414650,0.162818,0.121115,0.005775,0.886672,0.539241,1.363655,0.938083
3490,0.635899,0.190626,0.320618,NaN,NaN,0.305462,0.572697,0.197966,0.853958,1.370231,0.328772,0.262195,NaN,NaN,0.193723,0.258597
3491,0.447937,1.754383,0.320618,NaN,NaN,0.658049,0.781406,0.197966,0.061078,1.817339,0.300654,0.604087,NaN,NaN,0.490106,1.682360
3492,0.009361,0.696070,0.320618,0.938395,NaN,0.658049,0.347013,0.870927,1.154672,1.527560,0.275764,0.307626,1.210822,1.307642,0.100128,0.719178
3493,0.620235,0.853386,0.320618,0.260950,0.697849,0.732165,0.781406,0.197966,0.414650,0.259411,0.160064,0.319177,1.210822,1.307642,1.426051,0.865115
3494,1.149733,0.524451,0.320618,0.155940,0.752027,0.509817,0.894248,1.095247,1.154672,1.720746,0.458531,0.108189,1.560404,0.938265,0.648628,0.660804
3495,1.541319,0.004706,0.320618,NaN,NaN,1.176863,0.555722,1.095247,0.996096,1.382670,0.627238,0.549800,NaN,NaN,0.945011,0.106245
3496,0.573245,0.095405,0.531677,NaN,NaN,0.305462,0.572697,1.035795,0.361792,0.452597,0.177351,0.521309,NaN,NaN,0.365313,0.077058
3497,0.870850,0.481547,0.320618,NaN,NaN,0.213352,0.894248,1.035795,0.325371,1.032155,0.078938,0.051207,NaN,NaN,0.677295,0.412712
3498,1.650963,0.490958,0.320618,NaN,NaN,0.658049,1.571299,0.197966,0.325371,1.044595,0.300654,0.433141,NaN,NaN,1.007408,0.316971
3499,0.056351,0.638863,0.320618,NaN,NaN,0.231346,0.104354,0.197966,0.467509,1.189484,0.497480,0.333422,NaN,NaN,0.240520,0.719178

In [45]:
(np.abs((Xtrain.loc[:,col] - Xtrain.mean())/Xtrain.std())>3).sum()      #每一列异常值数量

MinTemp           1
MaxTemp           8
Rainfall         76
Evaporation      22
Sunshine          0
WindGustSpeed    37
WindSpeed9am     34
WindSpeed3pm     21
Humidity9am      13
Humidity3pm       0
Pressure9am      12
Pressure3pm      10
Cloud9am          0
Cloud3pm          0
Temp9am           4
Temp3pm           9
dtype: int64

In [46]:
#查看训练集各列异常值的比例
(np.abs((Xtrain.loc[:,col] - Xtrain.mean())/Xtrain.std())>3).sum()/Xtrain.shape[0]

MinTemp          0.000286
MaxTemp          0.002286
Rainfall         0.021714
Evaporation      0.006286
Sunshine         0.000000
WindGustSpeed    0.010571
WindSpeed9am     0.009714
WindSpeed3pm     0.006000
Humidity9am      0.003714
Humidity3pm      0.000000
Pressure9am      0.003429
Pressure3pm      0.002857
Cloud9am         0.000000
Cloud3pm         0.000000
Temp9am          0.001143
Temp3pm          0.002571
dtype: float64

In [47]:
#提取出所有训练集所有异常值的索引
deltrain = []
for i in col:
    bool_ = np.abs((Xtrain.loc[:,i] - Xtrain.loc[:,i].mean())/Xtrain.loc[:,i].std())>3
    ind = Xtrain[bool_].index
    deltrain.extend(list(ind))

In [48]:
#去重之后有异常值的行索引
deltrain1 = list(set(deltrain))

In [49]:
deltrain1

[2562,
 2,
 1539,
 3085,
 3086,
 2576,
 1042,
 3094,
 2583,
 1049,
 1562,
 1567,
 35,
 1062,
 551,
 41,
 3114,
 1067,
 1069,
 3119,
 1073,
 52,
 2046,
 1591,
 57,
 61,
 3134,
 1086,
 2624,
 2110,
 576,
 2119,
 586,
 590,
 2126,
 2128,
 1617,
 2648,
 2651,
 607,
 3171,
 2665,
 3190,
 1143,
 3192,
 2681,
 121,
 638,
 2686,
 1664,
 1152,
 1666,
 3204,
 2183,
 1162,
 2700,
 3216,
 2706,
 659,
 663,
 2714,
 3229,
 2211,
 1189,
 2728,
 3242,
 1707,
 1194,
 2732,
 1198,
 177,
 2227,
 1716,
 2741,
 2742,
 184,
 698,
 1213,
 3263,
 192,
 706,
 2245,
 1221,
 715,
 3277,
 206,
 1746,
 211,
 3284,
 213,
 214,
 2773,
 2776,
 3289,
 2268,
 3298,
 1250,
 231,
 3308,
 1262,
 3313,
 2802,
 243,
 2289,
 3317,
 1271,
 760,
 254,
 3327,
 1284,
 1800,
 3337,
 1295,
 3346,
 3351,
 3354,
 2842,
 2335,
 800,
 2850,
 803,
 1316,
 294,
 1836,
 1843,
 3386,
 827,
 1339,
 1341,
 3393,
 3394,
 1347,
 837,
 2376,
 3400,
 1866,
 844,
 1869,
 2892,
 3408,
 2384,
 338,
 853,
 2908,
 350,
 1890,
 1379,
 868,
 870,
 871,
 1898,
 874,
 1393,
 371,
 2419,
 2423,
 2426,
 380,
 1408,
 387,
 1923,
 389,
 3466,
 1420,
 909,
 911,
 1936,
 2451,
 3479,
 418,
 421,
 423,
 1454,
 1966,
 944,
 2994,
 1975,
 2999,
 959,
 447,
 1471,
 2501,
 969,
 972,
 463,
 1496,
 474,
 2012,
 3038,
 1505,
 997,
 1510,
 3048,
 2537,
 3051,
 3055,
 3056,
 1521,
 510]

In [50]:
len(deltrain1)

199

In [51]:
#查看测试集各列异常值（注意这里的均值和方差需要用训练集的）
(np.abs((Xtest.loc[:,col] - Xtrain.mean())/Xtrain.std())>3).sum()/Xtest.shape[0]

MinTemp          0.000000
MaxTemp          0.004000
Rainfall         0.024667
Evaporation      0.004667
Sunshine         0.000000
WindGustSpeed    0.013333
WindSpeed9am     0.007333
WindSpeed3pm     0.010000
Humidity9am      0.004667
Humidity3pm      0.000000
Pressure9am      0.004000
Pressure3pm      0.004000
Cloud9am         0.000000
Cloud3pm         0.000000
Temp9am          0.000667
Temp3pm          0.005333
dtype: float64

In [52]:
#提取出测试集的所有异常值的索引
deltest = []
for i in col:
    bool_ = np.abs((Xtest.loc[:,i] - Xtrain.loc[:,i].mean())/Xtrain.loc[:,i].std())>3
    ind = Xtest[bool_].index
    deltest.extend(list(ind))

In [53]:
#去重之后有异常值的行索引
deltest1 = list(set(deltest))

In [54]:
len(deltest1)

90

In [55]:
#删除异常值（特征和标签都要删除）
Xtrain = Xtrain.drop(index=deltrain1)
Ytrain = Ytrain.drop(index=deltrain1)
Xtest = Xtest.drop(index=deltest1)
Ytest = Ytest.drop

In [56]:
Xtrain.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,13.0,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2
1,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,15.0,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6
3,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,11.0,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5
4,2015-01-12,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,2.0,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2
5,2017-02-25,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,17.0,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4

In [57]:
Xtrain.shape    #删除了199行

(3301, 21)

In [58]:
Xtest.shape   #删除了90个数据

(1410, 21)

In [61]:
#进行任何行删除之后，千万记得要恢复索引
for i in [Xtrain, Xtest, Ytrain, Ytest]:
    i.index = range(i.shape[0])

AttributeError: 'function' object has no attribute 'shape'

In [62]:
Xtrain.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,13.0,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2
1,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,15.0,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6
2,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,11.0,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5
3,2015-01-12,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,2.0,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2
4,2017-02-25,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,17.0,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4

In [63]:
Xtest.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2015-07-16,Launceston,-0.6,10.8,0.0,NaN,NaN,SE,20.0,E,...,2.0,7.0,94.0,54.0,NaN,NaN,NaN,NaN,1.9,10.6
1,2015-04-28,Adelaide,8.7,16.7,0.0,1.6,NaN,SE,22.0,NaN,...,0.0,9.0,68.0,46.0,1030.8,1028.4,NaN,NaN,14.1,16.0
2,2015-03-21,Portland,7.7,19.0,0.0,5.4,10.3,E,33.0,SE,...,9.0,15.0,62.0,50.0,1027.7,1026.0,8.0,1.0,13.9,18.4
3,2009-02-22,Portland,14.8,21.7,0.0,2.2,12.5,ESE,33.0,ESE,...,17.0,19.0,61.0,47.0,1018.5,1015.2,6.0,3.0,15.9,21.5
4,2017-02-20,Portland,10.8,18.2,2.0,NaN,NaN,SSW,37.0,SW,...,15.0,22.0,74.0,55.0,1015.8,1016.7,7.0,8.0,13.1,16.8

In [64]:
Ytrain.shape

(3301, 1)

In [65]:
Ytest.shape

AttributeError: 'function' object has no attribute 'shape'

# 处理困难特征：日期

In [66]:
Xtrain.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,13.0,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2
1,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,15.0,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6
2,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,11.0,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5
3,2015-01-12,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,2.0,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2
4,2017-02-25,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,17.0,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4

In [67]:
Xtrain.Date.value_counts()

2009-08-23    6
2015-11-06    6
2015-02-09    5
2009-11-29    5
2011-09-11    5
2009-08-14    5
2016-02-21    5
2013-08-22    5
2009-02-22    5
2015-01-18    5
2015-10-10    5
2015-07-13    5
2015-02-06    5
2010-01-25    4
2012-06-15    4
2012-04-04    4
2010-03-18    4
2012-06-17    4
2010-02-27    4
2011-07-21    4
2014-04-12    4
2011-06-12    4
2014-12-22    4
2017-02-25    4
2011-10-22    4
2015-04-03    4
2010-01-31    4
2009-08-20    4
2012-04-24    4
2013-07-06    4
             ..
2014-08-04    1
2013-03-25    1
2017-06-06    1
2010-03-01    1
2015-10-09    1
2010-05-29    1
2014-04-14    1
2013-04-06    1
2012-01-24    1
2010-08-19    1
2016-02-29    1
2014-04-02    1
2010-11-28    1
2012-07-26    1
2013-07-09    1
2015-09-09    1
2011-10-12    1
2016-09-22    1
2008-10-07    1
2009-06-17    1
2010-07-04    1
2014-07-09    1
2009-05-29    1
2011-09-05    1
2011-05-02    1
2014-09-20    1
2009-04-15    1
2014-05-09    1
2009-12-20    1
2014-03-15    1
Name: Date, Length: 2025, dtype: int64

In [68]:
#找出2015-11-06
sum(Xtrain.Date=="2015-11-06")

6

In [69]:
Xtrain[Xtrain.Date=="2015-11-06"]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
138,2015-11-06,MountGambier,12.4,16.5,1.6,1.8,3.7,WSW,39.0,SW,...,17.0,26.0,96.0,64.0,1013.3,1014.2,8.0,7.0,12.6,15.0
1204,2015-11-06,CoffsHarbour,20.1,28.3,7.2,NaN,NaN,NE,46.0,NNE,...,17.0,31.0,81.0,66.0,1010.9,1006.4,NaN,NaN,23.3,25.6
1854,2015-11-06,Ballarat,12.6,15.0,1.4,NaN,NaN,WSW,35.0,SW,...,17.0,22.0,100.0,99.0,1010.2,1010.9,7.0,8.0,12.8,14.8
2332,2015-11-06,MountGinini,7.5,10.8,16.0,NaN,NaN,W,43.0,W,...,15.0,11.0,97.0,97.0,NaN,NaN,NaN,NaN,8.5,9.7
2732,2015-11-06,Newcastle,17.7,30.0,2.0,NaN,NaN,NaN,NaN,N,...,9.0,NaN,75.0,NaN,NaN,NaN,5.0,NaN,24.0,NaN
2911,2015-11-06,Launceston,15.8,26.2,5.0,NaN,NaN,NNW,35.0,NNW,...,4.0,20.0,88.0,66.0,NaN,NaN,7.0,8.0,17.9,24.1

In [70]:
#查看重复值
Xtrain.duplicated().sum()

#删除重复值用.drop_duplicates()

0

In [71]:
#查看日期的种类方法一
Xtrain.Date.value_counts().count()

2025

In [72]:
#查看日期的种类方法二
len(set(Xtrain.Date))

2025

In [73]:
Xtrain.Rainfall.value_counts()

0.0     2157
0.2      209
0.4       90
1.0       54
0.6       48
0.8       45
1.4       43
1.2       35
1.8       31
1.6       28
2.2       21
2.0       21
2.4       21
2.6       21
3.6       20
3.0       19
3.2       15
2.8       15
3.8       13
6.0       12
4.0       11
4.8       10
3.4       10
4.6        9
4.2        9
9.8        9
5.8        8
7.2        8
5.6        8
11.8       7
        ...
8.2        2
21.6       2
21.0       2
17.4       2
20.0       2
19.8       1
0.3        1
21.2       1
1.1        1
19.0       1
15.4       1
18.4       1
19.2       1
2.3        1
21.8       1
19.6       1
5.5        1
18.0       1
14.0       1
8.5        1
15.8       1
6.9        1
11.6       1
18.6       1
13.6       1
14.2       1
16.4       1
18.8       1
19.4       1
17.8       1
Name: Rainfall, Length: 113, dtype: int64

In [74]:
Xtrain["Rainfall"].head(20)

0     0.0
1     0.0
2     2.6
3     0.0
4     0.0
5     0.0
6     1.0
7     0.0
8     0.0
9     0.0
10    1.4
11    0.0
12    0.0
13    0.0
14    0.2
15    0.0
16    0.0
17    1.2
18    0.0
19    0.0
Name: Rainfall, dtype: float64

In [75]:
#查看Rainfall列是否存在缺失值
Xtrain.Rainfall.isnull().sum()

38

In [76]:
Xtrain.loc[Xtrain["Rainfall"] >= 1,"RainToday"] = "Yes"
Xtrain.loc[Xtrain["Rainfall"] < 1,"RainToday"] = "No"
Xtrain.loc[Xtrain["Rainfall"] == np.nan,"RainToday"] = np.nan

In [77]:
Xtrain.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2,No
1,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6,No
2,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5,Yes
3,2015-01-12,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2,No
4,2017-02-25,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4,No

In [78]:
Xtrain["RainToday"].value_counts()

No     2555
Yes     708
Name: RainToday, dtype: int64

In [79]:
Xtrain.shape

(3301, 22)

In [80]:
Xtest.loc[Xtest["Rainfall"] >= 1,"RainToday"] = "Yes"
Xtest.loc[Xtest["Rainfall"] < 1,"RainToday"] = "No"
Xtest.loc[Xtest["Rainfall"] == np.nan,"RainToday"] = np.nan

In [81]:
Xtrain.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2,No
1,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6,No
2,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5,Yes
3,2015-01-12,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2,No
4,2017-02-25,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4,No

In [82]:
Xtest.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2015-07-16,Launceston,-0.6,10.8,0.0,NaN,NaN,SE,20.0,E,...,7.0,94.0,54.0,NaN,NaN,NaN,NaN,1.9,10.6,No
1,2015-04-28,Adelaide,8.7,16.7,0.0,1.6,NaN,SE,22.0,NaN,...,9.0,68.0,46.0,1030.8,1028.4,NaN,NaN,14.1,16.0,No
2,2015-03-21,Portland,7.7,19.0,0.0,5.4,10.3,E,33.0,SE,...,15.0,62.0,50.0,1027.7,1026.0,8.0,1.0,13.9,18.4,No
3,2009-02-22,Portland,14.8,21.7,0.0,2.2,12.5,ESE,33.0,ESE,...,19.0,61.0,47.0,1018.5,1015.2,6.0,3.0,15.9,21.5,No
4,2017-02-20,Portland,10.8,18.2,2.0,NaN,NaN,SSW,37.0,SW,...,22.0,74.0,55.0,1015.8,1016.7,7.0,8.0,13.1,16.8,Yes

In [83]:
#提取月份
int(Xtrain.loc[0,"Date"].split("-")[1])

3

In [84]:
Xtrain["Date"] = Xtrain["Date"].apply(lambda x:int(x.split("-")[1]))
#apply指循环

In [85]:
Xtrain.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2,No
1,9,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6,No
2,7,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5,Yes
3,1,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2,No
4,2,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4,No

In [86]:
Xtrain = Xtrain.rename(columns={"Date":"Month"})

In [87]:
Xtrain.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2,No
1,9,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6,No
2,7,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5,Yes
3,1,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2,No
4,2,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4,No

In [88]:
Xtest["Date"] = Xtest["Date"].apply(lambda x:int(x.split("-")[1]))
Xtest = Xtest.rename(columns={"Date":"Month"})

# 处理分类型变量的缺失值

In [89]:
#查看缺失值的缺失情况
Xtrain.isnull().mean()

Month            0.000000
Location         0.000000
MinTemp          0.006968
MaxTemp          0.002121
Rainfall         0.011512
Evaporation      0.432899
Sunshine         0.475613
WindGustDir      0.069979
WindGustSpeed    0.069676
WindDir9am       0.073614
WindDir3pm       0.029991
WindSpeed9am     0.008482
WindSpeed3pm     0.021509
Humidity9am      0.010906
Humidity3pm      0.027264
Pressure9am      0.102999
Pressure3pm      0.103302
Cloud9am         0.369888
Cloud3pm         0.396547
Temp9am          0.004847
Temp3pm          0.021206
RainToday        0.011512
dtype: float64

In [90]:
#找出分类型变量的特证名
cate=Xtrain.columns[Xtrain.dtypes=="object"].tolist()

In [91]:
#除了特征类型为"object"的特征们，还有虽然用数字表示，但是本质为分类型特征的云层遮蔽程度
cloud = ["Cloud9am","Cloud3pm"]
cate = cate + cloud
cate

['Location',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'Cloud9am',
 'Cloud3pm']

In [92]:
#对于分类型特征，我们使用众数来进行填补
from sklearn.impute import SimpleImputer

In [93]:
si = SimpleImputer(missing_values=np.nan,strategy="most_frequent")    #实例化模型

In [94]:
si=si.fit(Xtrain.loc[:,cate])    #这里实质上是生成了每一列的众数

In [95]:
si

SimpleImputer(copy=True, fill_value=None, missing_values=nan,
       strategy='most_frequent', verbose=0)

In [96]:
#然后我们用训练集中的众数来同时填补训练集和测试集
Xtrain.loc[:,cate] = si.transform(Xtrain.loc[:,cate])
Xtest.loc[:,cate] = si.transform(Xtest.loc[:,cate])

In [97]:
Xtrain.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2,No
1,9,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6,No
2,7,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5,Yes
3,1,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,17.0,64.0,32.0,1006.7,1003.1,7.0,1.0,24.6,33.2,No
4,2,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4,No

In [98]:
Xtest.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,7,Launceston,-0.6,10.8,0.0,NaN,NaN,SE,20.0,E,...,7.0,94.0,54.0,NaN,NaN,7.0,7.0,1.9,10.6,No
1,4,Adelaide,8.7,16.7,0.0,1.6,NaN,SE,22.0,N,...,9.0,68.0,46.0,1030.8,1028.4,7.0,7.0,14.1,16.0,No
2,3,Portland,7.7,19.0,0.0,5.4,10.3,E,33.0,SE,...,15.0,62.0,50.0,1027.7,1026.0,8.0,1.0,13.9,18.4,No
3,2,Portland,14.8,21.7,0.0,2.2,12.5,ESE,33.0,ESE,...,19.0,61.0,47.0,1018.5,1015.2,6.0,3.0,15.9,21.5,No
4,2,Portland,10.8,18.2,2.0,NaN,NaN,SSW,37.0,SW,...,22.0,74.0,55.0,1015.8,1016.7,7.0,8.0,13.1,16.8,Yes

In [99]:
#查看分类型特征是否依然存在缺失值
Xtrain.loc[:,cate].isnull().mean()
Xtest.loc[:,cate].isnull().mean()

Location       0.0
WindGustDir    0.0
WindDir9am     0.0
WindDir3pm     0.0
RainToday      0.0
Cloud9am       0.0
Cloud3pm       0.0
dtype: float64

# 将分类型变量进行编码

In [100]:
#将所有的分类型变量编码为数字，一个类别是一个数字
from sklearn.preprocessing import OrdinalEncoder    #特征专用编码包（输入的必须是二维及以上）
oe = OrdinalEncoder()

In [101]:
#利用训练集进行fit
oe = oe.fit(Xtrain.loc[:,cate])    #相当于把第一列编码，并记录对应关系

In [102]:
Xtrain.loc[:,cate] = oe.transform(Xtrain.loc[:,cate])
Xtest.loc[:,cate] = oe.transform(Xtest.loc[:,cate])

In [103]:
Xtest.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,7,17.0,-0.6,10.8,0.0,NaN,NaN,9.0,20.0,0.0,...,7.0,94.0,54.0,NaN,NaN,7.0,7.0,1.9,10.6,0.0
1,4,0.0,8.7,16.7,0.0,1.6,NaN,9.0,22.0,3.0,...,9.0,68.0,46.0,1030.8,1028.4,7.0,7.0,14.1,16.0,0.0
2,3,33.0,7.7,19.0,0.0,5.4,10.3,0.0,33.0,9.0,...,15.0,62.0,50.0,1027.7,1026.0,8.0,1.0,13.9,18.4,0.0
3,2,33.0,14.8,21.7,0.0,2.2,12.5,2.0,33.0,2.0,...,19.0,61.0,47.0,1018.5,1015.2,6.0,3.0,15.9,21.5,0.0
4,2,33.0,10.8,18.2,2.0,NaN,NaN,11.0,37.0,12.0,...,22.0,74.0,55.0,1015.8,1016.7,7.0,8.0,13.1,16.8,1.0

In [104]:
Xtrain.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3,45.0,19.0,29.8,0.0,7.6,7.6,9.0,28.0,7.0,...,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2,0.0
1,9,15.0,5.8,12.6,0.0,3.4,6.8,2.0,31.0,3.0,...,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6,0.0
2,7,44.0,6.6,11.8,2.6,1.2,2.0,8.0,39.0,12.0,...,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5,1.0
3,1,41.0,18.0,34.6,0.0,NaN,NaN,12.0,39.0,0.0,...,17.0,64.0,32.0,1006.7,1003.1,7.0,1.0,24.6,33.2,0.0
4,2,17.0,13.3,23.2,0.0,NaN,NaN,6.0,35.0,10.0,...,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4,0.0

# 处理连续型变量：填补缺失值

In [105]:
#提取连续性特征的名字
col = Xtrain.columns.tolist()

In [106]:
col

['Month',
 'Location',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustDir',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday']

In [107]:
for i in cate:
    col.remove(i)

In [108]:
col

['Month',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [109]:
#实例化模型，填补策略为"mean"表示均值
impmean = SimpleImputer(missing_values=np.nan,strategy = "mean")

In [110]:
#用训练集来fit模型
impmean = impmean.fit(Xtrain.loc[:,col])      #相当于计算出每一列的均值

In [111]:
#分别在训练集和测试集上进行均值填补
Xtrain.loc[:,col] = impmean.transform(Xtrain.loc[:,col])
Xtest.loc[:,col] = impmean.transform(Xtest.loc[:,col])

In [112]:
Xtrain.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3.0,45.0,19.0,29.8,0.0,7.600000,7.600000,9.0,28.0,7.0,...,19.0,83.000000,58.0,1016.400000,1013.50,7.0,3.0,23.3,29.2,0.0
1,9.0,15.0,5.8,12.6,0.0,3.400000,6.800000,2.0,31.0,3.0,...,19.0,68.771516,46.0,1019.000000,1016.60,7.0,1.0,8.1,11.6,0.0
2,7.0,44.0,6.6,11.8,2.6,1.200000,2.000000,8.0,39.0,12.0,...,20.0,100.000000,81.0,1022.000000,1021.70,8.0,7.0,8.1,11.5,1.0
3,1.0,41.0,18.0,34.6,0.0,5.173344,7.826516,12.0,39.0,0.0,...,17.0,64.000000,32.0,1006.700000,1003.10,7.0,1.0,24.6,33.2,0.0
4,2.0,17.0,13.3,23.2,0.0,5.173344,7.826516,6.0,35.0,10.0,...,9.0,43.000000,33.0,1017.898109,1015.46,6.0,1.0,14.5,22.4,0.0

In [113]:
#确认训练集中是否还有缺失值
Xtrain.isnull().sum()

Month            0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
dtype: int64

In [114]:
Xtest.isnull().sum()

Month            0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
dtype: int64

# 处理量纲问题

In [115]:
#是否存在量纲不统一问题
Xtrain.describe().T

,count,mean,std,min,25%,50%,75%,max
Month,3301.0,6.360497,3.431097,1.0,3.000000,6.000000,9.0,12.0
Location,3301.0,23.456831,14.057405,0.0,11.000000,23.000000,35.0,48.0
MinTemp,3301.0,12.254912,6.291149,-5.3,7.700000,12.000000,16.8,29.1
MaxTemp,3301.0,23.285641,6.788046,3.4,18.300000,22.800000,28.1,42.9
Rainfall,3301.0,1.299081,3.327557,0.0,0.000000,0.000000,0.6,21.8
Evaporation,3301.0,5.173344,2.381357,0.0,4.200000,5.173344,5.2,16.6
Sunshine,3301.0,7.826516,2.627575,0.0,7.826516,7.826516,8.9,14.3
WindGustDir,3301.0,7.771584,4.520786,0.0,4.000000,9.000000,11.0,15.0
WindGustSpeed,3301.0,38.749267,11.634887,9.0,31.000000,38.749267,44.0,80.0
WindDir9am,3301.0,6.932445,4.501917,0.0,3.000000,7.000000,11.0,15.0
WindDir3pm,3301.0,7.819146,4.557612,0.0,4.000000,8.000000,12.0,15.0
WindSpeed9am,3301.0,13.373663,8.169715,0.0,7.000000,13.000000,19.0,39.0
WindSpeed3pm,3301.0,18.304644,8.251028,0.0,13.000000,18.304644,24.0,44.0
Humidity9am,3301.0,68.771516,18.358447,13.0,57.000000,69.000000,82.0,100.0
Humidity3pm,3301.0,51.134226,19.716223,1.0,37.000000,51.134226,64.0,100.0
Pressure9am,3301.0,1017.898109,6.448790,996.3,1013.800000,1017.898109,1021.9,1038.3
Pressure3pm,3301.0,1015.460000,6.400043,994.6,1011.300000,1015.460000,1019.4,1035.2
Cloud9am,3301.0,5.365344,2.590390,0.0,3.000000,7.000000,7.0,8.0
Cloud3pm,3301.0,5.479249,2.433468,0.0,4.000000,7.000000,7.0,8.0
Temp9am,3301.0,17.022831,6.304441,-1.2,12.400000,16.900000,21.4,34.1
Temp3pm,3301.0,21.742464,6.573837,2.2,17.000000,21.400000,26.2,42.1
RainToday,3301.0,0.214480,0.410524,0.0,0.000000,0.000000,0.0,1.0

In [116]:
col.remove("Month")

In [117]:
col

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [118]:
#对连续型变量进行数据标准化
from sklearn.preprocessing import StandardScaler


ss = StandardScaler()   #实例化
ss = ss.fit(Xtrain.loc[:,col])    #相当于生成了每一列的均值和标准差
Xtrain.loc[:,col] = ss.transform(Xtrain.loc[:,col])
Xtest.loc[:,col] = ss.transform(Xtest.loc[:,col])

In [119]:
Xtrain.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3.0,45.0,1.072318,0.959826,-0.390460,1.019177,-8.622049e-02,9.0,-0.924022,7.0,...,0.084288,0.775155,0.348282,-2.323437e-01,-3.062943e-01,7.0,3.0,0.995825,1.134599,0.0
1,9.0,15.0,-1.026186,-1.574423,-0.390460,-0.744791,-3.907299e-01,2.0,-0.666138,3.0,...,0.084288,0.000000,-0.260446,1.708938e-01,1.781508e-01,7.0,1.0,-1.415539,-1.543087,0.0
2,7.0,44.0,-0.899004,-1.692296,0.391013,-1.668774,-2.217786e+00,8.0,0.021553,12.0,...,0.205503,1.701299,1.515011,6.361679e-01,9.751411e-01,8.0,7.0,-1.415539,-1.558301,1.0
3,1.0,41.0,0.913340,1.667059,-0.390460,0.000000,-6.761467e-16,12.0,0.021553,0.0,...,-0.158143,-0.259948,-0.970628,-1.736730e+00,-1.931530e+00,7.0,1.0,1.202060,1.743163,0.0
4,2.0,17.0,0.166146,-0.012618,-0.390460,0.000000,-6.761467e-16,6.0,-0.322292,10.0,...,-1.127866,-1.404009,-0.919901,-1.763185e-14,-1.776614e-14,6.0,1.0,-0.400228,0.100038,0.0

In [120]:
#建议把所有处理干净的数据保存下来
#Xtrain.to_csv("weather_Xtrain.csv",encoding="utf_8")
#Xtest.to_csv("weather_Xtest.csv",encoding="utf_8")

In [121]:
Ytrain.to_csv("weather_Ytrain.csv",encoding="utf_8")
Ytest.to_csv("weather_Ytest.csv",encoding="utf_8")

AttributeError: 'function' object has no attribute 'to_csv'